<div class="container-fluid py-5">
    <div class="container p-0">
        <div class="text-center pb-2">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="mb-4">Book A Seat For Your Kid</h1>
                    <p class="section-title px-5"></p>
                </div>
                <p>
                    Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                    ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                    dolor
                </p>
                <ul class="list-inline m-0">
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Labore eos amet dolor amet diam</li>
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Etsea et sit dolor amet ipsum</li>
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Diam dolor diam elitripsum vero.</li>
                </ul>
                <a href="" class="btn btn-primary mt-4 py-2 px-4">Book Now</a>
            </div>
        </div>
    </div>
</div>
