<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
            <h4 class="text-white mb-4 mt-5 mt-lg-0">Kids Learning Center</h4>
            <h1 class="display-3 font-weight-bold text-white">New Approach to Kids Education</h1>
            <a class="btn btn-outline-light px-4 btn-lg px-4">Join Class</a>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="img/header.png" alt="">
        </div>
    </div>
</div>
