@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mt-4">
                <h2 class="text-center mb-4">Create a new account</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.Username" class="form-control" aria-required="true" />
                        <label asp-for="Input.Username">Username</label>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                        <label asp-for="Input.FirstName">First Name</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                        <label asp-for="Input.LastName">Last Name</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.DateOfBirth" class="form-control" type="datetime-local" aria-required="true" />
                        <label asp-for="Input.DateOfBirth">Date of Birth</label>
                        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.Gender" class="form-control" aria-required="true" />
                        <label asp-for="Input.Gender">Gender</label>
                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary w-100">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}