@using KinderConnect.Web.ViewModels.Teacher;
@model TeacherDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Teacher Details</h2>
            <div class="card">
                <img class="card-img-top" src="@Model.ImageUrl" alt="Teacher Image">
                <div class="card-body">
                    <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                    <p class="card-text">@Model.Summary</p>
                </div>
            </div>
        </div>
    </div>
</div>