@using KinderConnect.Web.ViewModels.Attendance;
@model AttendanceRecordFormModel

<h2>Add Attendance Record</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Start"></label>
        <input asp-for="Start" class="form-control" type="datetime-local" />
        <span asp-validation-for="Start" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="End"></label>
        <input asp-for="End" class="form-control" type="datetime-local" />
        <span asp-validation-for="End" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Actvity"></label>
        <select asp-for="ActivityId" class="form-control">
            @foreach (var activity in Model.Activities)
            {
                <option value="@activity.Id">@activity.Name</option>
            }
        </select>
        <span asp-validation-for="ActivityId" class="small text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}