<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="~/img/about-1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <p class="section-title pr-5"><span class="pr-2">Learn About Us</span></p>
                <h1 class="mb-4">Welcome to KinderConnect</h1>
                <p>
                    At KinderConnect, we're passionate about revolutionizing
                    the way kindergartens manage their daily operations and engage with parents.
                    Our comprehensive kindergarten management system is designed to streamline
                    administrative tasks, enhance communication, and provide valuable insights
                    to educators, parents, and administrators alike.
                </p>
                <div class="row pt-2 pb-4">
                    <div class="col-6 col-md-8" style="text-align: left;">
                        <ul class="list-inline m-0">
                            <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>Efficient Administration</li>
                            <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Enhanced Parent Engagement</li>
                            <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>User-Friendly Interface</li>
                            <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Secure and Reliable</li>
                        </ul>
                    </div>
                </div>
                <div class="content-full" style="display: none;">
                    <p>
                        We are committed to ongoing innovation and enhancements to our platform, driven by feedback from educators, parents, and industry experts.
                        Our goal is to remain at the forefront of kindergarten management technology, always adapting to meet the evolving needs of our users.
                        Join the KinderConnect community today and experience the difference our platform can make in transforming your kindergarten's operations and enriching the educational experience for young learners.
                    </p>
                </div>
                <a class="btn btn-primary px-4 mx-auto my-2 toggle-content">Read More</a>
                <a class="btn btn-primary px-4 mx-auto my-2 toggle-content" style="display: none;">Hide</a>
            </div>
        </div>
    </div>
</div>